.hotel-arrow {
  /* border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px; */
    border: solid #1976d2;
  border-width: 0px 8px 8px 0;
  display: inline-block;
  padding: 9px;
  margin-left: 31.5rem;
}
.hotel-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.car-arrow {
  border: solid #1976d2;
  border-width: 0px 8px 8px 0;
  display: inline-block;
  padding: 9px;
  margin-left: 38.3rem;
}
.car-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.package-arrow {
  /* border: solid black; */
  border: solid #1976d2;
  border-width: 0px 8px 8px 0;
  display: inline-block;
  padding: 9px;
  margin-left: 45.5rem;
}
.package-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.text-area{
  border: 1px solid #d0d0d0;
  padding: 10px 10px;
}
.text-area:focus{
  outline: none;
}
.text-area:hover{
  border: 1px solid black;
}


.main{
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  width: 40%;
  height: 30vh;
  padding: 10px;
}

.tagInput {
  width: auto;
  height: auto;
  border: 1px solid #c4c4c4;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
}

.tagInput:focus-within{
  border: 1px solid blue;
}

.tagInput input{
  background-color: white;
  border: none;
  outline: none;
  width:100%;
  color: rgb(0, 0, 0);
}
.tagInput button{
  color: rgb(255, 255, 255);
  background-color: #585858;
  outline: none;
  border: none;
  margin: 5px;
  padding: 6px;
  border-radius: 40px;
}

.tagInput button span{
  margin-left: 10px;
  color: red;
  padding: 5px;
}